<% @media_to_show.each do |media| %>
    <div class="col">
        <div class="card mb-3 h-100" style="width: calc((100% - 100px) / 3;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <% if media["poster_url"] == "N/A" %>
                        <%= image_tag "notfound.png", class: "card-img-top img-fluid rounded-start" %>
                        <p style="text-align:center; margin-top: 10px; color:#717171;"><%= media['media_type'] %></p>
                    <% else %>
                        <img class="card-img-top" src="<%= media["poster_url"] %>" alt="Media Poster">
                        <p style="text-align:center; margin-top: 10px; color:#717171;"><%= media['media_type'] %></p>
                    <% end %>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h6 class="card-title"><%= media["title"] %></h6>
                        <div class = "overflow-scroll"  style = "max-height: 100px">
                            <p class="card-text overflow-auto"><%= media["summary"] %></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>
