<h3>My Movies</h3>
<%= link_to 'Add Movie', new_movie_path, class: "btn btn-outline-secondary" %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Director</th>
      <th>Movie stars</th>
      <th>Year</th>
      <th>Genre</th>
      <th>Rating</th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <% if movie.user == current_user %>
        <tr>
          <td><%= link_to movie.name, movie %></td>
          <td><%= movie.director %></td>
          <td><%= movie.movie_stars %></td>
          <td><%= movie.year %></td>
          <td><%= movie.genre %></td>
          <td><%= movie.rating %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

