
<h3>Tv Shows</h3>
<%= link_to 'New TV Show', new_tv_show_path, class: "btn btn-outline-secondary"%>

<table class="table table-hover">
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Director</th>
      <th>Show stars</th>
      <th>Seasons</th>
      <th>Genre</th>
      <th>Rating</th>
    </tr>
  </thead>

  <tbody>
    <% @tv_shows.each do |tv_show| %>
      <tr>
        <td><%= tv_show.user_id %></td>
        <td><%= tv_show.name %></td>
        <td><%= tv_show.director %></td>
        <td><%= tv_show.show_stars %></td>
        <td><%= tv_show.seasons %></td>
        <td><%= tv_show.genre %></td>
        <td><%= tv_show.rating %></td>
      </tr>
    <% end %>
  </tbody>
</table>



