<h1>Friends</h1>
<p>Your unique friend ID is <%= current_user.id %></p>
<%= link_to 'Add Friend', new_friend_path, class: "btn btn-outline-secondary btn-sm" %>

<table class="table table-hover">
<thead>
    <tr>
    <th>Name</th>
    <th>Email</th>
    </tr>
</thead>

<tbody>
    <% if @friendsEmpty %>
        <tr>
            <td colspan="100%", style = "text-align: center;">You have not added any friends...
                <p><%= image_tag "sad_face_better.png", width: 100, height: 100 %></p>
            </td>
        </tr>
    <% else %>
        <% @userFriends.each do |friend| %>
            <tr>
            <td><%= link_to friend.name, friend %></td>
            <td>
                <% User.where("id =?", friend.name).each do |email| %>
                    <td><%= email.email %></td>
                <% end %>
            </td>
            </tr>
        <% end %>
    <% end %>
</tbody>

</table>