<style>
  td,
  tr {
      text-align: center;
      vertical-align: middle;
  }
</style>

<h3 class = "my_movies">My Movies</h3>
<%= link_to 'Add Movie Manually', new_movie_path, class: "btn btn-outline-secondary btn-sm" %>

<table class="table table-hover">
<thead>
    <tr>
    <th>Name</th>
    <th>Director</th>
    <th>Movie stars</th>
    <th>Year</th>
    <th>Genre</th>
    <th>Rating</th>
    </tr>
</thead>

<tbody>
    <% if @moviesEmpty %>
        <tr>
            <td colspan="100%", style = "text-align: center;">You have not added any moviess...
                <p><%= image_tag "sad_face_better.png", width: 100, height: 100 %></p>
            </td>
        </tr>
    <% else %>
        <% @userMovies.each do |movie| %>
            <tr>
            <td><%= link_to movie.name, movie %></td>
            <td><%= movie.director %></td>
            <td><%= movie.movie_stars %></td>
            <td><%= movie.year %></td>
            <td><%= movie.genre %></td>
            <td><%= movie.rating %></td>
            </tr>
        <% end %>
    <% end %>

</tbody>
</table>
<br/>

<!-- TV Shows -->
<h3 class = "my_tvshows">My TV Shows</h3>
<%= link_to 'Add TV Show Manually', new_tv_show_path, class: "btn btn-outline-secondary btn-sm"%>

<table class="table table-hover">
<thead>
    <tr>
    <th>Name</th>
    <th>Director</th>
    <th>Show stars</th>
    <th>Year</th>
    <th>Genre</th>
    <th>Rating</th>
    </tr>
</thead>

<tbody>
    <% if @showsEmpty %>
        <tr>
            <td colspan="100%", style = "text-align: center;">You have not added any tv shows...
                <p><%= image_tag "sad_face_better.png", width: 100, height: 100 %></p>
            </td>
        </tr>
    <% else %>
        <% @userShows.each do |tv_show| %>
            <tr>
                <td><%= link_to tv_show.name, tv_show %></td>
                <td><%= tv_show.director %></td>
                <td><%= tv_show.show_stars %></td>
                <td><%= tv_show.seasons %></td>
                <td><%= tv_show.genre %></td>
                <td><%= tv_show.rating %></td>
            </tr>
        <% end %>
    <% end %>

</tbody>
</table>
<br/>

<!-- Games -->
<h3 class = "my_games">My Games</h3>
<%= link_to 'Add Game Manually', new_game_path, class: "btn btn-outline-secondary btn-sm" %>

<table class="table table-hover">
<thead>
    <tr>
    <th>Name</th>
    <th>Company</th>
    <th>Year</th>
    <th>Genre</th>
    <th>Rating</th>
    </tr>
</thead>

<tbody>
    <% if @gamesEmpty %>
        <tr>
            <td colspan="100%", style = "text-align: center;">You have not added any games...
                <p><%= image_tag "sad_face_better.png", width: 100, height: 100 %></p>
            </td>
        </tr>
    <% else %>
        <% @userGames.each do |game| %>
            <tr>
                <td><%= link_to game.name, game %></td>
                <td><%= game.company %></td>
                <td><%= game.year %></td>
                <td><%= game.genre %></td>
                <td><%= game.rating %></td>
            </tr>
        <% end %>
    <% end %>

</tbody>
</table>
<br/>

<!-- Podcasts -->
<h3 class = "my_podcasts">My Podcasts</h3>
<%= link_to 'Add Podcast Manually', new_podcast_path, class: "btn btn-outline-secondary btn-sm" %>

<table class="table table-hover">
<thead>
    <tr>
    <th>Name</th>
    <th>Company</th>
    <th>Recent episode</th>
    <th>Genre</th>
    <th>Rating</th>
    </tr>
</thead>

<tbody>
    <% if @podcastsEmpty %>
        <tr>
            <td colspan="100%", style = "text-align: center;">You have not added any podcasts...
                <p><%= image_tag "sad_face_better.png", width: 100, height: 100 %></p>
            </td>
        </tr>
    <% else %>
        <% @userPodcasts.each do |podcast| %>
            <tr>
                <td><%= link_to podcast.name, podcast %></td>
                <td><%= podcast.company %></td>
                <td><%= podcast.recent_episode %></td>
                <td><%= podcast.genre %></td>
                <td><%= podcast.rating %></td>
            </tr>
        <% end %>
    <% end %>
</tbody>
</table>


