<div class="jumbotron">
    <h3 class="display-4"><%= @name %></h3>
    <img class="card-img-top" src="<%= @poster %>" alt="Media Poster" style="width: 10rem;">
    <br />
    <br />
    <h3>Rating: <%= @rating %></h3>
    <h6>Year Released: <%= @year %></h6>
    <h6>Director: <%= @director %></h6>
    <h6>Star Actors: <%= @actors %></h6>
    <h6>Genre: <%= @genre %></h6>
    <hr class="my-4">
    <h6>Summary</h6>
    <p><%= @plot %></p>
    <p class="lead">
        <%= link_to 'Return', root_path, class: "btn btn-primary btn-lg" %>
        <%= link_to "Add #{@type}", createImdb_path(
                                :user_id => current_user.id,
                                :imdb_id => @imdb_id,
                                :poster_url => @poster,
                                :media_type => @type,
                                :title => @name,
                                :director => @director,
                                :genre => @genre,
                                :rating => @rating,
                                :summary => @plot),
                            class: "btn btn-primary btn-lg" %>
    </p>
</div>











