<h3>My Games</h3>
<%= link_to 'Add Game', new_game_path, class: "btn btn-outline-secondary" %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Company</th>
      <th>Year</th>
      <th>Genre</th>
      <th>Rating</th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= link_to game.name, game %></td>
        <td><%= game.company %></td>
        <td><%= game.year %></td>
        <td><%= game.genre %></td>
        <td><%= game.rating %></td>
      </tr>
    <% end %>
  </tbody>
</table>

