<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @game.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @game.company %>
</p>

<p>
  <strong>Year:</strong>
  <%= @game.year %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @game.genre %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @game.rating %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
