<%= form_with(model: medium) do |form| %>
  <% if medium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(medium.errors.count, "error") %> prohibited this media from being saved:</h2>
      <ul>
        <% medium.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <div id="emailHelp" class="form-text">Media type?</div>
    <%= form.select :media_type, options_for_select(["movie", "series", "game", "podcast"]) %>
  </div>

  <div class="field mb-3">
    <div id="emailHelp" class="form-text">Title</div>
    <%= form.text_field :title, class: "form-control", placeholder: "Title", :required => true %>
  </div>

  <div class="field mb-3">
    <div id="emailHelp" class="form-text">Director</div>
    <%= form.text_field :director, class: "form-control", placeholder: "Director", :required => true %>
  </div>

  <div class="field mb-3">
    <div id="emailHelp" class="form-text">List all relevant genres</div>
    <%= form.text_field :genre, class: "form-control", placeholder: "Genre", :required => true %>
  </div>

  <div class="field mb-3">
    <div id="emailHelp" class="form-text">Your Rating</div>
    <%= form.number_field :rating, class: "form-control", placeholder: "Rating", :required => true %>
  </div>

  <div class="field mb-3">
    <div id="emailHelp" class="form-text">Summary</div>
    <%= form.text_field :summary, class: "form-control", placeholder: "Summary", :required => true %>
  </div>

  <div class="field mb-3">
    <%= form.number_field :user_id, id: :media_user_id, class:"form-control", value: current_user.id, type: :hidden %>
  </div>

  <div class="field mb-3">
    <%= form.number_field :imdb_id, id: :media_imdb_id, class:"form-control", value: "NA", type: :hidden %>
  </div>

  <div class="field mb-3">
    <%= form.text_field :poster_url, class:"form-control", value: "N/A", type: :hidden %>
  </div>

  <div class="action">
    <%= form.submit class:'btn btn-outline-secondary' %>
    <%= link_to 'Return', home_media_path , class: "btn btn-outline-secondary" %>
  </div>
<% end %>
