<%= form_with(model: podcast) do |form| %>
  <% if podcast.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(podcast.errors.count, "error") %> prohibited this podcast from being saved:</h2>

      <ul>
        <% podcast.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <div id="emailHelp" class="form-text">Title</div>
    <%= form.text_field :name, class: "form-control", placeholder: "Podcast Name" %>
  </div>

  <div class="field mb-3">
    <div id="emailHelp" class="form-text">Company</div>
    <%= form.text_field :company, class: "form-control", placeholder: "Company" %>
  </div>

  <div class="field mb-3">
    <div id="emailHelp" class="form-text">Recent Episode</div>
    <%= form.text_field :recent_episode, class: "form-control", placeholder: "Recent Episode" %>
  </div>

  <div class="field mb-3">
    <div id="emailHelp" class="form-text">List all relevant genres</div>
    <%= form.text_field :genre, class: "form-control", placeholder: "Genre" %>
  </div>

  <div class="field mb-3">
    <div id="emailHelp" class="form-text">Your Rating</div>
    <%= form.text_field :rating, class: "form-control", placeholder: "Rating" %>
  </div>

  <div class="field mb-3">
    <%= form.number_field :user_id, id: :podcast_user_id, class:"form-control", value: current_user.id, type: :hidden %>
  </div>

  <div class="action">
    <%= form.submit class:'btn btn-outline-secondary' %>
    <%= link_to 'Return', root_path, class: "btn btn-outline-secondary" %>
  </div>
<% end %>

