<h3>My Podcasts</h3>
<%= link_to 'Add Podcast', new_podcast_path, class: "btn btn-outline-secondary" %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Company</th>
      <th>Recent episode</th>
      <th>Genre</th>
      <th>Rating</th>
    </tr>
  </thead>

  <tbody>
    <% @podcasts.each do |podcast| %>
      <tr>
        <td><%= podcast.user_id %></td>
        <td><%= podcast.name %></td>
        <td><%= podcast.company %></td>
        <td><%= podcast.recent_episode %></td>
        <td><%= podcast.genre %></td>
        <td><%= podcast.rating %></td>
      </tr>
    <% end %>
  </tbody>
</table>
